/*GLOBAL STYLES*/
* {
  box-sizing: border-box;
  margin:0px;
  padding:0px;
  font-family:Open Sans Condensed;
  font-size:20;
  text-align:center;
}

body {
  background-color:#2CA6A4;
}

img {
  max-width:100%;
}

header {
  text-align:center;
  margin:10px 0px 0px 0px;

}

main {
  margin:20px 0px;
}
/*Setting responsive sizes for text*/
h1 {
  font-size:10vw;
}
h2{
  font-size:8vw;
}
h3{
  font-size:7vw;
}
p{
  font-size:6vw;
}
a{
  text-decoration:none;
  font-weight:bold;
}
/*END GLOBAL STYLES*/

.container {
  margin:10px;
  background-color:#E0F2E9;

}
.header_img {
 max-width:20%;

}

.main_content {
  text-align:center;
}


.description {
  margin:15px;
  text-align:center;
}

.description_text {
  text-align:left;
  margin: 15px 10px;
}

.featured_works {
  margin-top:15px;
  text-align:center;
  background-color:#A3C4BC;
}


.single_work {
  margin:10px 0px;
}

.preview {
  margin:10px 0px;
  filter:grayscale(100%);
}

.preview:hover {
  filter:none;
}
